@model Tourism.Models.Offer

@{
    ViewData["Title"] = "Добавление предложения";
}

<div class="container">
    <h2>Добавление предложения</h2>
    <hr />
    <div class="row offerRow">
        <div class="col-md-4">
            <form asp-action="Create">
                <div>
                    <label>Выберите тип предложения</label><br />
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="typeOffer" id="guide" value="Тур" autocomplete="off" checked>Тур
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="typeOffer" id="user" value="Фотосессия" autocomplete="off">Фотосессия
                        </label>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TextOfOffer" class="control-label"></label>
                    <input asp-for="TextOfOffer" class="form-control" />
                    <span asp-validation-for="TextOfOffer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfOfferFrom" class="control-label"></label>
                    <input asp-for="DateOfOfferFrom" class="form-control" />
                    <span asp-validation-for="DateOfOfferFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfOfferTo" class="control-label"></label>
                    <input asp-for="DateOfOfferTo" class="form-control" />
                    <span asp-validation-for="DateOfOfferTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>