<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tourism</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Offers/Index" class="navbar-brand">Главная</a></li>
                    <!--todo переделать-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/Account/Logout" class="navbar-brand">Выйти</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Tourism</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
